html, body {
    overflow: hidden;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}

.rt-BaseTabListTriggerInner {
    background-color:  transparent !important;
}